h2 ,li {
  color: black;
}
body {
  background-size: cover;
  color: rgb(255, 255, 255);
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
background-color: rgb(188, 188, 204);
}
#dataContainer {
  position: absolute;
  overflow: hidden;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 30px;
  margin: 1em 0;
  min-width: 60%;
  height: 60vh;

margin-bottom: 0px;
margin: 7em;
  background: rgba(255, 255, 255, 0.155);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
input {
  margin: 1em 0;
  width: 50%;
  height: 3em;
  border-radius: 10px 0 0 10px;
  border: none;
  outline: none;
  padding: 0 1em;
}
.input-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-div {
  width: 100%;
}
ul {
  width: 35em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}
li {
  width: 35em;
  font-size: 1.2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1em;
  list-style: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;

  line-height: 13px;
}
.delete-button,
.update-button {
  margin: 1em;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
#btn{
  margin: 1em;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}

@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
}
#dataInput {
  margin: 1em;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  width: 300px;
  height: 25px;
}